<html>
	<head>
		<title>Status</title>
	</head>
	<body>
		<h1>Status</h1>
		<p>El Hostname es: <b>{{ ansible_hostname }}</b></p>
		<p>La IP es: <b>{{ ansible_all_ipv4_addresses[1] }}</b></p>
	</body>
</html>